{{date-range-picker
  start=start
  end=end
  selectedOptionId=selectedOptionId
  singleDatePicker=singleDatePicker
  showDropdowns=singleDatePicker
  ranges=ranges
  showDropDownLabel=showLabel
  alwaysShowCalendars=true
  removeDropdownOnDestroy=true
  class= (if isDisabled 'date-range-picker-disabled' 'no-wrap')
  label=filterDisplayName
  applyAction=(action "setDateRange")
  hideAction=(action "hideDatePicker")
  cancelAction=(action "cancelDatePicker")
}}
{{yield}}